#!/usr/bin/make -f
# -*- makefile -*-


%:
	dh $@ --with python2  --with systemd --buildsystem=python_distutils

override_dh_auto_install:
	python setup.py install --root=debian/dumeter-reporter --install-layout=deb --install-lib=/usr/share/dumeter-reporter --install-scripts=/usr/sbin
	rm debian/dumeter-reporter/usr/share/dumeter-reporter/*.egg-info
